# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
coverage/

# Production
build/
target/

# Miscellaneous
.DS_Store
.env*
env.*
/extra
.aws-sam/
samconfig.toml
serverless/template.yml
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
