.app {
  &__welcome {
    color: white;
    // color: $color-spain-red;
    
    h1 {
      @extend .font-7xl;
      font-family: 'Handlee', arial;
      font-weight: 600;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    
    h2 {
      @extend .font-6xl;
      font-family: 'Tangerine', cursive;
      margin-top: 1rem;
      color: $theme-yellow;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }

  &__calendar-headers {
    p {
      color: $color-white;
      text-shadow: 1px 1px 1px slategray;
    }
  }

  &__contact-information {
    background: rgba(51, 51, 51, .85);
    border-radius: 11px;
    span {
      color: $color-yellow;
    }
    h4 {
      color: $color-white;
    }
    
    max-width: 800px;
    padding: 1.2rem 2.5rem;

    h1 {
      @extend .font-6xl;
      text-align: center;
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__description {
    color: $color-black;
    font-weight: 350;
    line-height: $line-height-lg;
    padding: 3.75rem 1rem;
    text-indent: 20px;

    p:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &__neighborhood {
    color: $color-gray-dddd;
    font-weight: 400;

    p:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  &__footer {
    background: #1f222a;
    height: 500px;
    padding: 4.5rem 0 3rem;
  }

  &__copyright {
    animation: glowing-blue 1.75s ease-in-out infinite;
    
    @keyframes glowing-blue {
      0% {
        text-shadow: 0 0 20px #00ccff;
      }
      50% {
        text-shadow: 0 0 30px #00ccff;
      }
      100% {
        text-shadow: 0 0 20px #00ccff;
      }
    }
  }
}

.details {
  background: #ffd157;

  &__container {
    li {
      margin-bottom: 4px;
    }
  }
}
