.button {
  background-color: #c60c30;
  border-radius: 50px;
  border: 2px solid #fff;
  // box-shadow: 1px .1px 8px #d3d3d3;
  color: #fff;
  font-size: 1.4rem;
  padding: 15px 30px;
  transition: all 0.275s ease-in-out;
}

.button:hover {
  background-color: $theme-yellow;
  color: $color-black;
}
