.navbar {
  background-color: $color-black;
  display: flex;
  justify-content: center;

  .nav-item {
    padding: 4px 2rem;
    border-radius: 4px;
    transition: all 0.1s ease;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);

      .nav-link {
        color: #f0f0f0;
      }
    }
  }

  .nav-link {
    color: $theme-yellow;
    margin: 0;
  }
}

.nav-container {
  position: sticky;
  top: -2px;
  z-index: 888;
}

.nav-languages {
  a {
    transition: none;
  }

  svg {
    margin-right: 1.25rem;
  }

  .dropdown-menu {
    background: #212529;
    border: 1.5px solid #52565d;
  }

  .dropdown-item {
    color: #adb5bd;
    font-size: 1.5rem;

    &:hover {
      background: $theme-yellow;
      color: $color-black;
    }
  }
}
