.testimonials-container {
  background: $color-blue-ddd;
}

.testimonial {
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  padding: 22px 24px;
  margin-bottom: 24px;
  display: flex;
  border: 2px solid #e6c200;
  color: #333; // dark grey text

  .testimonial-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    padding: 1.8rem;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    svg {
      color: #fff;
      font-size: 24px;
    }
  }

  .testimonial-content {
    flex-grow: 1;
  }

  .testimonial-stars {
    margin-left: auto;
    min-width: 90px;

    svg {
      color: #fcd036;
      font-size: 11px;

      @media screen and (min-width: 800px) {
        font-size: 20px;
      }
      margin-right: 5px;
    }
  }

  .testimonial-text {
    line-height: 1.5;
    margin-top: 1.25rem;
    padding-bottom: 0.5rem;
    text-indent: 12px;
    font-size: 1.2rem;
  }

  .testimonial-author {
    font-size: 16px;
    font-weight: bold;
  }
}
